/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin: 10px;
  margin-top: 20px;
}

.ask_new {
   text-decoration: none;
}

.answer {
  padding-left: 15px;
  border-left: solid 5px rgb(205, 203, 203);
  background-color: rgb(249, 246, 216);
}

.question {
  padding-left: 15px;
  border-left: solid 5px rgb(205, 203, 203);
}

.ask_anything {
  margin-right: 50px;
}

#text_box {
  width: 200px;
  padding-inline: 0px;
}

#ask_btn {
  background-color: rgb(16, 144, 224);
  color: azure;
  border-radius: 2px;
}
